@import "./style.css";
body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#app {
    width: 100%;
    min-height: 100%;
    background: #160e23;
    display: block;
    color: #7e6e9e;
    overflow: hidden;
    min-height: 100%;
}
.head {
    background: #23133C;
    position: relative;
}
.icons-l {
    float: left;
    margin-left: 1em;
}
.icons-r {
    float: right;
    margin-right: 1em;
    font-size: 2em;
}
.icon-panel {
    display: block;
    height: 2em;
    line-height: 0em;
    margin-top: -2.3em;
}
.nav {
    text-align: center;
    color: #5d506c;
    margin-top: 1em;
}
h1.title {
    font-size: 14pt;
    margin: 0 auto;
    /* text-align: center; */
    /* position: absolute; */
    
    left: 1em;
    padding-top: 2em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    height: 3em;
    text-transform: uppercase;
}
.nav a {
    display: block;
    padding: 0.5em 1em;
    border-bottom: .3em solid transparent;
    margin-bottom: -.33em;
    color: #160E23;
    font-size: 17pt;
}
.nav .active {
    background: rgba(22, 14, 35, 0.32);
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
}
a.btn {
    display: block;
    text-align: center;
    background: #260F4C;
    padding: 1em;
    margin: 1em 0;
    color: #fff;
    text-transform: uppercase;
}
.chooser {
    padding: 1em;
}
.counter {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.saved,
.total {
    width: 50%;
    display: inline-block;
    float: right;
    text-align: center;
    padding: 2em;
    background: #23133C;
}
.total {
    float: right;
    background: #fff;
}
.total span {
    font-size: 2em;
    display: block;
}
.saved span {
    font-size: 2em;
    display: block;
}
@media screen and (orientation: landscape) {
    .counter {
        position: relative;
    }
}
.breadlist ul {
    list-style: none;
    margin-top: 1em;
    margin: 0;
    height: 100%;
}
.breadlist li:before {
    /* background: #421688; */
    
    content: "\f120";
    /* width: .5em; */
    /* height: .5em; */
    
    position: absolute;
    left: -.88em;
    top: 1.5em;
    border-radius: 50%;
    z-index: 10;
    font-family: "Ionicons";
}
.breadlist li {
    margin-left: 3em;
    position: relative;
    padding: 1.5em;
    margin-top: 0em;
    padding-left: 1em;
    /* margin-top: 3em; */
}
.breadlist li:after {
    background: #23133C;
    width: 1em;
    height: 1em;
    position: absolute;
    left: -0.50em;
    content: "";
    height: 8em;
    width: .1em;
    z-index: 9;
    top: 0;
}
.yeld {
    height: 100%;
}
.col {
    float: left;
    width: 33.3%;
}
#container {
    text-align: center;
    width: 100%;
}
.clearfix {
    display: inline-block;
}
.breadlist li:last-child:after {
    display: none;
}
.user {
    background: white;
    min-height: 4em;
}
.picture {
    float: left;
}
.picture img {
    border-radius: 50%;
    top: 1em;
    margin-top: .5em;
    margin-left: 1em;
}
.name {
    line-height: 4.5em;
    margin-left: 5em;
    margin-top: 0em;
    position: absolute;
}
.menu{
    width: 1em;
    height: 1em;
    display: block;
    text-align: center;
}
.menu-side {
    position: fixed;
    z-index: 99;
    width: 75%;
    background: #20102A;
    right: -75%;
    transition: All .2s ease-in-out;
    height: 100%;
    /* box-shadow: -137px 0 35px 7px rgba(0, 0, 0, 0.69); */
}
.show-menu{
    right: 0;
    box-shadow: -137px 0 35px 7px rgba(0, 0, 0, 0.69);
}
.menu-side ul {
    list-style: none;
}

.menu-side li {
    background: red;
    margin: 0;
    padding: 1em;
    background: #0A0510;
    border-top: 1px solid #222;
}

.menu-side > a {
    background: #20102A;
    /* display: block; */
    /* float: right; */
    position: absolute;
    right: 0;
    width: 2em;
    height: 1.8em;
    text-align: center;
    line-height: 2em;
    font-size: 2em;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.slide.ng-enter {
    left: 100%;
    display: block;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
    display: none;
}
.slide.ng-leave-active {
    left: -100%;
}
ng-view{
    overflow: scroll;
}
.login {
    /* margin: 0 auto; */
    /* display: inline-block; */
    text-align: center;
    margin-top: 25em;
    /* position: fixed; */
}

.login a {
    margin: 0 auto;
    display: inline-block;
    margin: 0 auto;
    background: white;
    margin: 0 auto;
    padding: 1em;
    border-radius: 2px;
    width: 80%;
}
.head{
    /*display: none*/
}