<!doctype html>
<html ng-app="Bread">

<head>
	<title>Bread</title>
	<meta charset="utf-8">
	<meta name="theme-color" content="#160e23">
	<meta name="apple-mobile-web-app-status-bar-style" content="#f4f5f6">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/ionicons.css">
</head>

<body ng-controller="MainCtrl">
	<div id="app">
		<div class="menu-side"  ng-class="{'show-menu' : showMenu == true}">
			<a href="#{{currentRoute}}" ng-click="handleMenu()">&times;</a>

			<ul>
				<li><a href="#credits"> <i class="ion-lightbulb"></i> Credits </a></li>
				<li><a href="#credits"> <i class="ion-clipboard"></i> Manifest </a></li>
				<li><a href="#credits"> <i class="ion-android-exit"></i> Logout </a></li>
			</ul>
		</div>
		<div class="head" ng-show="currentRoute !== '/login'">
			<h1 class="title">Smart Bread</h1>
			<div class="icon-panel">
				<div class="icons-r"> 
					<i class=" menu ion-navicon" ng-click="handleMenu()"></i>
				</div>
			</div>
			<div class="nav clearfix" id="container">
				<div class="col">
					<a href="#/home" ng-class="{'active' : currentRoute == '/home'}"><i class="ion-grid"></i></a>
				</div>
				<div class="col">
					<a href="#/list" ng-class="{'active' : currentRoute == '/list'}"><i class="ion-stats-bars"></i></a>
				</div>
				<div class="col">
					<a href="#tab" ng-class="{'active' : currentRoute == ''}"><i class="ion-gear-a"></i></a>
				</div>
			</div>

		</div>
		<div class="yeld">
			<ng-view class="slide"></ng-view>
		</div>
	</div>
	<script src="./js/angular.js"></script>
	<script src="./js/angular-animate.js"></script>
	<script src="./js/angular-route.js"></script>
	<script src="./js/Main.js"></script>
</body>
</html>