      <div class="chooser">        
        <a class="btn">Salt</a>
        <a class="btn">Sweet</a>
        <a class="btn">Don't want</a>
      </div>
      <div class="counter">
        
        <div class="total"><span>2132</span> total breads this capaign</div>
        <div class="saved"><span>2132</span> saved breads this capaign</div>
      </div>