      <div class="breadlist">  
      <div class="user">
        <div class="picture">
          <img src="https://lh4.googleusercontent.com/-S_bB21ybSSY/AAAAAAAAAAI/AAAAAAAAAAw/QZN1opryvG0/photo.jpg?sz=50">

        </div>
        <div class="name">Guilherme Henrique</div>
      </div>      
      <ul>
        <li>
          <span>15/13/2016</span> You choose salt!
        </li>

          <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>        <li>
          <span>15/13/2016</span> You choose salt!
        </li>
      </ul>
      </div>